.img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 50%;
    transform: translate(-150px);
}

.custom-container{
    background-color: rgb(151, 230, 233);
}

p{
    color: cadetblue;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.links{
    font-size: 28px;
    text-decoration: none;
    color: #ff9980;
}

.content{
    color: aquamarine;
    width: 800px;
    margin-left: 50%;
    transform: translate(-300px);
}

.project-title{
    padding-left: 70px;
    font-size: 40px;
    color: rgb(110, 168, 149);
}

@media only screen and (max-width: 600px) {
  
    .content{
        width: 400px;
        margin-left: 50%;
        transform: translate(-200px);
    }
    .img{
        width: 200px;
        height: 200px;
        margin-left: 50%;
        transform: translate(-100px);
    }
}

@media only screen and (max-width : 400px){
  
    p{
        font-size: 20px;
    }
    .content{
        width: 300px;
        margin-left: 50%;
        transform: translate(-150px);
    }

    .links{
        font-size: 18px;
    }
}



.project > div {
    
    width: 280px;
    height: 120px;
    background: cadetblue;
    border: 0.5px solid;
}

.project{
    display: flex;
    justify-content: center;
    
}

.media{
    margin: 55px auto;
    justify-content: space-around;
    display: flex;
    max-width: 200px;
  }
  .media a{
    text-decoration: none;
    font-size: 38px;
    color: #f1f1f1;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: 0.4s all;
    line-height: 58px;
    cursor: pointer;
    background: #314652;
    border-radius: 50%;
  }
  .media a:hover{
    transform: scale(1.2);
  }
  